<div class="home-container">
  <!-- Carousel -->
  <div id="homeCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="10000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/notes.jpg" class="d-block w-100" alt="First slide">
        <div class="carousel-caption">
          <h5>Download college notes for upcoming exams!</h5>
          <p>We have gathered notes from various top performers and deans list students, even from students with 10 GPA! Click on the link to get the best notes for free!</p>
          <a href="#" class="btn btn-primary">College Notes</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/students.jpg" class="d-block w-100" alt="Second slide">
        <div class="carousel-caption">
          <h5>New to college! We have got you covered!</h5>
          <p>Question Papers, pdfs of your course books and sample guides collected from your seniors! Click on the link below to access to all these resources for free!</p>
          <a href="#" class="btn btn-primary">Helpful Resources</a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/carousel3.jpg" class="d-block w-100" alt="Third slide">
        <div class="carousel-caption">
          <h5>Want to get ahead of other students! Missed yet another class! Exams are near but Slides not uploaded yet!</h5>
          <p>There are previous year slides, final exams question papers and a lot more! Start exploring and download everything for free!</p>
          <a href="#" class="btn btn-primary">Explore</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Text Box -->
  <div class="text-box mt-4 p-3">
    <p class="dummy-text">
      To download the notes, just select the college name, year and branch. You wil get a list of all the notes and question papers. Click on the download button to download the file in pdf form. 
    </p>
  </div>
</div>
